*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#overview{
    height: 100vh; 
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("./assets/TSunny.jpg");
    background-size: cover;
}
.overview_img{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overview_img>h2{
    font-family: monospace;
    color: aqua;
}
.overview_img>h1{
    color: white;
}
#resume_page{
    padding: 0 10px;
    background-image:linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)),url(./assets/images.jpeg);
    background-repeat: repeat;
    background-size:cover ;
}
.about_me{
    text-align: center;
    padding:50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_me>img{
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
}
.about_me>h1{
     color: #65B741;
     margin-top: 20px;
}
.dotted{
    margin:10px 0 ;
    width: 50px;
    border-top: #65B741 dotted 5px;
}
.skill_div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0;
}
.skill_div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.skill_img{
    /* flex: 1 0 100px; */
    width:200px ;
    object-fit: contain;
    margin-right: 10px;
    border-radius: 10px;
}

.bio_data{
    text-align: center;
}

.bio_data >ul{
    display: flex;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}
.green{
  color: #65B741;  
  margin: 30px 0;
}

#green{
    color: #65B741;
}

.hobbie_item{
    margin: 15px 0;
}

.projects>ul>li{
    list-style: none;
    margin: 10px 0;
}

#contact_me{
    width: 100vw;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("./assets/Luffy.jpg");
    background-size: cover;
}
.foot_contact{
    padding: 50px;
}

.foot_contact > h1{
    color: white;
}
.foot_contact > ul{
    color: aqua;
    font-weight: bold;
}


@media (min-width:720px){

#overview{
    height: auto;
    width: 100vw;
    padding: 600px 0;
}
.about_me{
    max-width: 700px;
    margin: 1px auto;
}

.about_me> img{
    margin-top: 100px;
    width: 300px;
}

.skill_div1,.skill_div2{
    flex-direction: row;
}
.skill_img{
    width: 300px;
}

h1{
    font-size: 40px;
}

p,h2{
    font-size: 30px;
}
li{
    font-size: 30px;
}
.dotted{
    margin-top:100px ;
    width: 100px;
    border-top: #65B741 dotted 10px;
}
.green{
    margin-top: 100px;
}
#contact_me{
    padding: 200px 0;
}
.foot_contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start;
}
.foot_contact > ul >li{
    margin: 20px;
}
}
@media (min-width: 1200px){
   #overview{
    width: 100vw;
    height: 100vh;
    padding: 0;
   } 
}